.pick__up__form{
  position: relative;
  width: 25rem;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.form-control, .form-control:focus {
  color: #000;
  background-color: #fff;
  border:2px solid #E8D426;
  outline: 0;
  box-shadow: none;
}
.btn{
  background: #E8D426 !important;
  border: #E8D426 !important;
}
.btn:hover {
  background: #E8D426 !important;
  border: #E8D426 !important;
}
.form__header{
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 0.75rem;
  justify-content: start;
  background: #E8D426;
  font-weight: 600;
  font-size: 1.05rem;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 3rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
.pick__up__form form{
  padding: 1rem;
}
.form-group{
  margin-bottom: 1rem;
}
